*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #023b00;
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}